html{
    height: 100%;
}
header {
    position: relative;
    border: 0px;
    border-bottom-color:#FFD700;
    background-color:#000080;
    margin: 0;
    z-index: 1;
    text-align: center;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}
.heading{
    padding-bottom: 20;
    font-size: x-large;
}
body{
    border: 0;
    background: linear-gradient(45deg, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 1000%;
    position: relative;
    animation: change 8s ease-in infinite;
    margin: 0px;
 }
@keyframes change {
            0%{
                background-position: 0 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                 background-position: 0 50%;
             }
}
.login-page{
    position:relative;
    padding: 0;
    margin: auto;
    border:0;
    background-color: #000080;
    align-items: center;
    border-radius: 14px;
}
.form{
    position: relative;
    z-index:1;
    background: #000080;
    margin: 0 auto 50px;
    padding: 20px;
    align-items: center;
    display: block;
    border-radius: 14px;
    margin-top: 5%;
}
.fields{
    font-family: "Roboto",sans-serif;
    outline: 0;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
}
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}
.radio-inline {
    display: inline;
}
input[type=text],input[type=password],input[type=email],input[type=mobile]{
    width: 100%;
    padding: 12px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select{
    width: 76%;
    padding: 8px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: initial;
}
.register-form{
    font-family: sans-serif;
    color: aliceblue;
}
button[type=submit]:hover,button[type=submit]:active{
    background-color: #FF8C00;
}
a{
    text-decoration: none;
    color: lawngreen;
}
p{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 14px;
}
a:hover,a:active{
    color: #FF8C00;
}
.form .register-form{
    display: none;
}
hr{
    margin: 0;
    border: 0;
    padding-top:4px;
    background-color: gold;
}
.guest-form{
    position: absolute;
    top:0.2%;right:4%;
    z-index: 2;
}
p button[type=submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: initial;
}
@media only screen and (min-width:0px) and (max-width:480px) {
    .form{
        width: 100%;
        float: right;
        left: 7%;
        position: relative;
    }
    .login-page{
        width: 80%;
    }
    .login-forum{
        width: 100%;
    }
    .pagetitle{
        font-size: larger;
    }
}
@media only screen and (min-width: 481px) and (max-width:768px) {
    .form{
        width: 100%;
    }
    .login-page{
        width: 50%;
    }
    .login-forum{
        width: 100%;
    }
    .pagetitle{
        font-size: xx-large;
    }
}
@media only screen and (min-width: 769px) and (max-width:1024px) {
    .form{
        width: 100%;
    }
    .login-page{
        width: 50%;
    }
    .login-forum{
        width: 100%;
    }
    .pagetitle{
        font-size: xx-large;
    }
}
@media only screen and (min-width: 1025px) and (max-width:1440px) {
    .form{
        width: 100%;
    }
    .login-page{
        width: 40%;
    }
    .login-forum{
        width: 100%;
    }
    .pagetitle{
        font-size: xx-large;
    }
}
@media screen and (min-width: 1441px) and (max-width:2560px) {
    .form{
        width: 100%;
    }
    .login-page{
        width: 40%;
    }
    .login-forum{
        width: 100%;
    }
    .pagetitle{
        font-size: xx-large;
    }
}
.footer{
    position: relative;
    background-color:#000080;
    margin: 0;
    z-index: 1;
    text-align: center;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}